@page "/Usuario/Login"
@attribute [AllowAnonymous]
@using AlisonSilvaPoeta.Components.LoginForm
@inject AuthenticationStateProvider AuthenticationState
@inject NavigationManager Navigation

<h3>Login</h3>

<LoginForm></LoginForm>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationState.GetAuthenticationStateAsync();

        if(authState.User.Identity.IsAuthenticated)
        {
            Navigation.NavigateTo("/");
        }
    }
}
