@page "/Privacidade"

<h1>Política de Privacidade</h1>

<strong>Sobre o Site e o Responsável pelos dados coletados:</strong>

<p>O endereço desta página é: <a>alisonsilvapoeta.com.br</a></p>

<p>Os dados que nós coletamos estão todos colocados diretamente abaixo:</p>

<h3>Quais dados nós coletamos?</h3>

<h4>1 - Cadastro da Conta</h4>

<p>Coletamos dados importantes na criação da conta, como Nome, CPF, RG e dados de contato como E-Mail e Telefone celular na hora de cadastrar a conta. Esses dados te ajudam a te diferenciar de outros usuários na hora de enviarmos o seu pedido, dando assim a possibilidade de acompanhar cada fase da venda de algum de nossos produtos.</p>

<h4>2 - Endereço</h4>

<p>Coletamos dados de endereço de qualquer usuário que esteja interessado em comprar livros por meio desse comércio digital que esteja no território nacional. Dados como Rua, Número e Bairro são armazenados no nosso banco de dados. Esses dados são essenciais para que nós possamos enviar os nossos produtos aonde você estiver.</p>

<h4>3 - Dados de Acesso</h4>

<p>Os dados de acesso são essenciais para que você possa fazer uma boa utilização da nossa aplicação. Dados como o seu e-mail e sua senha (criptografada) ficam armazenadas num Cookie para melhorar a sua experiência de usuário e para facilitar a sua navegação em cada parte do nosso sistema. Os dados de acesso diferentemente dos dados armazenados no nosso banco de dados são armazenados na sua sessão e nossa equipe de TI não tem acesso direto a esses dados, apenas a aplicação.</p>

<h3>Utilização dos dados</h3>

<p>Além das formas de utilização citadas aqui, nós também utilizamos os seus dados para:</p>

<h5>I - Promover suporte nessa aplicação, melhorando assim cada vez mais a sua experiência de usuário.</h5>

<h5>II - Desenvolver e testar novos produtos e serviços</h5>

<h5>III - Avaliar a qualidade dos produtos e serviços vendidos por meio dessa aplicação.</h5>

<h5>IV - Compartilhamento de dados com empresas parceiras, tais como os desenvolvedores dessa aplicação e os Correios, que são responsáveis pelo envio dos produtos aqui cadastrados diretamente para o seu endereço.</h5>

<h5>Observação:</h5>

<p>Dados bancários, como cartão de crédito ou conta bancária não são armazenados, nem tampouco utilizados dentro dessa aplicação. Construímos uma interoperabilidade com o Checkout Pro do mercado pago de forma que seus dados bancários sejam manipulados única e exclusivamente pelo Mercado Pago e suas intermediárias. O pagamento é 100% seguro e feito com uma instituição financeira respeitada e conhecida.</p>

<h3>Por quanto tempo retemos seus dados?</h3>

<p>Os dados aqui citados e mantidos no nosso banco de dados são mantidos por tempo indeterminado até que o usuário deseje de fato excluir esses dados. Ao excluir a sua conta, você exclui todos os dados que foram cadastrados até então, isso inclui dados como o Endereço, o Telefone Celular, o E-Mail e seus documentos pessoais.</p>

<h3>Quais os seus direitos sob seus dados?</h3>

<p>Você tem o direito de solicitar a alteração ou remoção das informações aqui colocadas a qualquer momento, fazendo isso diretamente na aplicação. Esses dados são excluídos 100% de nossa base de dados, garantindo assim, seu direito à privacidade e comparilhamento de dados.</p>

<h3>Para onde enviamos os seus dados?</h3>

<p>Enviamos os seus dados diretamente para nossa base de dados hospada num servidor na nuvem seguro e feito para te oferecer a melhor experiência possível. Além disso, compartilhamos os seus dados com o serviço dos correios para que suas encomendas cheguem devidamente em sua casa.</p>

<h3>Como protegemos os seus dados?</h3>

<p>Protegemos os seus dados por meio da tecnologia SSL, que garante que todos os seus dados que serão enviados para as nossas bases de dados estarão devidamente seguros.</p>

<p>Os dados são enviados para um servidor do Norte da Virgínia nos Estados Unidos, onde eles estão sendo muito bem guardados e que cumprem todas as leis locais de proteção aos dados.</p>

<p>Além disso, você é a única pessoa que tem acesso à sua senha de acesso, visto que ela é criptografada utilizando um algorítmo Hash o que impossibilita que um desenvolvedor ou qualquer outra pessoa seja capaz de descriptografar a sua senha. Em outras palavras, você é o único que realmente sabe a sua senha.</p>

<p>Além disso, limitamos o acesso aos seus dados ao mínimo de pessoas possíveis, afim de proteger cada vez mais os seus dados.</p>

<h3>Cuidados com os seus dados.</h3>

<p>É importante que você também faça seu papel em manter seguros os seus dados pessoais. Pedimos que você não compartilhe com ninguém dados importantes como Senhas de acesso e que essas senhas sejam utilizadas apenas nessa aplicação. Na hora de criar as senhas, crie elas com pelo menos 16 caracteres, contendo ao menos uma letra maiúscula, uma letra minúsula, um número e um caracter não alfanumérico, como um @@ ou um !. Evite usar essa aplicação conectado à redes públicas ou no dispositivo de terceiros. Se isso for algo inevitável, certifique-se de apagar os Cookies e não pedir para que a aplicação lembre do seu ID do Login.</p>

<h3>Atualizações da nossa política</h3>

<p>Notificaremos via e-mail sobre quaisquer alterações na nossa política de privacidade. Pedimos também que revise periodicamente a nossa política de privacidade.</p>

<h3>Informações de Contato</h3>

<p>No caso de quaisquer dúvidas, deixaremos um formulário de contato.</p>

<a>Formulário de Contato</a>

@code {

}
