@rendermode InteractiveServer
@using MercadoPago.Resource.Preference
@inject CheckoutPro checkoutPro

<input @bind="Preference!.Id" id="preference-id" type="hidden" />
<div id="wallet_container"></div>

@if(renderizado == true)
{
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script src="../Components/CheckoutPro.razor.js"></script>
}

@code {
    bool renderizado = false;

    [Parameter]
    public Preference? Preference { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            renderizado = true;
        }
    }
}
