<div class="cartao-item">
    <img src="@Imagem!.Link" />
    <h4 class="titulo">@Item!.Titulo</h4>
    <h4 class="preco">@Item.Preco.ToString("C2")</h4>
    <a class="button" href="/DetalhesProduto/@Item.Id">Detalhes do Produto</a>
</div>

@code {
    [Parameter]
    public ProdutoViewModel? Item { get; set; }

    [Parameter]
    public ImagemViewModel? Imagem { get; set; }
}
