<div class="cartao-item">
    @foreach(var item in imagens)
    {
        @if(item.ImagemPadrao == true)
        {
            <img src="@item.Link">
        }
    }
    <h4 class="titulo">@Item!.Titulo</h4>
    <h4 class="preco">@Item.Preco.ToString("C2")</h4>
    <a class="button" href="/DetalhesProduto/@Item.Id">Detalhes do Produto</a>
</div>

@code {
    private List<ImagemViewModel>? imagens = new List<ImagemViewModel>();

    [Parameter]
    public ProdutoViewModel? Item { get; set; }
    [Parameter]
    public Task<List<ImagemViewModel>>? Imagens { get; set; }

    protected override async Task OnInitializedAsync()
    {
        imagens = await Imagens!;
    }
}
